body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  background-image: url(file:///C:/Users/Fubo/Desktop/Html/SheCodes-plus-week6-lesson4-challenge/media/our_neighborhood.svg);
  background-repeat: no-repeat;
  background-position: 0% 127%;
  background-attachment: fixed;
  background-size: 32vw 60vh;
}

.weather-app{
    max-width: 900px;
  display: block;
  margin: 0 auto;
 
   position: relative; 
top:90px;
border: 1px solid #000;
border-radius: 4px;
color: rgb(61, 29, 245);
box-shadow: 9px 9px 5px rgb(97, 93, 93);
background: #eff1f3;
}

    h1, h2{font-family: 'Corinthia', cursive;
font-family: 'Lobster', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Noto Serif', serif; 
position: relative;
top: 20px;
left:100px;

}
.text-muted{font-size: 22px;
margin-bottom: 5px;}
.feature{font-size: 25px;
margin-bottom: 0px;}
     p{position: relative;
        top: 10px;
          font-size: 50px;
       }
        .col-3{ padding: 50px 20px 100px 20px;
        color: black;
          font-size:38px ;
          
        }
               
       .condition{margin-left:60px;
      font-size: 25px;}
.city{padding: 10px 70px;
margin: 5px 300px;
}
.btn-primary{position: relative;
left: -300px;
}

.units{font-size: 20px;
position: relative;
top: -10px;
}
.GitHub-link{margin-bottom: 20px;
text-align: center;
text-decoration: none;
color: rgb(17, 16, 16);
}


.form{margin-bottom: 50px;
  position: relative;
  left: -200px;
 
}
.weather-forecast{text-align: center;
 margin-bottom: 50px;
 font-size: 28px;
color: #000;}
.weather-forecast-temperatures-min{opacity: 0.6;
color:#F65282 ;}
.weather-forecast-temperatures-max{color:#F65282 ;}

.btn-primary{bottom:50px;
  
  left: 650px;
}